{% extends 'dashboard/base.html' %}
{% load static %}

{% block title %}
    Aters
{% endblock title %}

{% block content %}
    <h1> Aters Restaurant</h1>

    {% if user.is_authenticated %}
        <h1>{{ user.email }}
        <a href="{% url 'restaurant_logout' %}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Logout</a>
        <a href="{% url 'restaurant_profile' %}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Profile</a>
        <a href="{% url 'restaurant_orders' %}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Orders</a>
        <a href="{% url 'restaurant_menu' %}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Menu</a>

    {% else %}
        <div>
            <a href="{% url 'restaurant_signup' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Sign Up</a>
            <a href="{% url 'restaurant_login' %}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Login</a>
        </div>
    {% endif %}
{% endblock content %}