{% extends 'dashboard/base.html' %}
{% load static %}


{% block title %} Restaurant SignUp {% endblock title %}

{% block content %}

<div class="Signup-form">
    <h6 class="pb-2  text-center">Create an Account</h6>

    <form method="POST">
        {% csrf_token %}

        <div class="form-group">
            <label>Email address</label>
            <input type="email" class="form-control form-control-sm" placeholder="Email" name="email" required value="{{ form.email.value }}">
        </div>

        <div class="form-group">
            <label>Mobile</label>
            <input type="text" required name="mobile" class="form-control form-control-sm" placeholder="Enter Mobile" value="{{ form.mobile.value }}">
        </div>

        <div class="form-group">
            <label>Password</label>
            <input type="password" name="password" class="form-control form-control-sm" placeholder="Password" required>
        </div>
        <div class="form-group">
            <label>Confirm Password</label>
            <input type="password" class="form-control form-control-sm" placeholder="Password" name="confirm_password" required>
        </div>
       
      
        <button type="submit" class="btn btn-sm btn-success btn-flat m-b-30 m-t-30">Sign up</button>
    <hr>
        <div class="register-link m-t-15 text-center">
            <p>Already have account ? <a class="text-primary" href="{% url 'restaurant_login' %}"> Login</a></p>
        </div>
    </form>
</div>

{% endblock content %}