{% extends 'dashboard/base.html' %}
{% load static %}

{% block title %}
    Aters
{% endblock title %}

{% block content %}
    <h1> Aters </h1>
    
    <a href="{% url 'user_signup' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Sign Up</a>
    <a href="{% url 'user_login' %}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Login</a>
    {% comment %} <a href="{% url 'restaurant' %}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Restaurant</a> {% endcomment %}
{% endblock content %}